@charset "UTF-8";
//======================================================================================================================
@include yuGothic;

html{
	font-size: 62.5%;
}
body{
	width: 100%;
	color: $color;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	@include media(pc){
		min-width: $width;
	}
	@include media(sp){
		min-width: $minWidth;
	}
}
a{
	color:$colorLink;
	@include media(pc){
		text-decoration:none;
		&:hover{
			text-decoration:underline;
		}
	}
}
img{
	max-width:100%;
	height:auto;
}


/*------------------------------------------------------------------
	HEADER
-----------------------------------------------------------------*/
.header{}
.headerCont{
	@extend %contWidth;
}
.mainVisual{}

@include media(sp) {
	//スマホ時のスタイルを記載します
}

@include media(pc) {
	//PC時のスタイルを記載します
}

/*------------------------------------------------------------------
	navi
-----------------------------------------------------------------*/
.navi{}
.naviList{
	display: flex;
}

/*------------------------------------------------------------------
	contents
-----------------------------------------------------------------*/
.contents{}
.contentsCont{
	@extend %contWidth;
}


/*------------------------------------------------------------------
	footer
-----------------------------------------------------------------*/
.footer{
	@extend %contWidth;
}

/*------------------------------------------------------------------
	social
-----------------------------------------------------------------*/
.social{
	position: relative;
	float:right;
	margin:22px 0 0;
	ul{
		li{
			float: left;
			width: 100px;
			*{
				line-height:1;
			}
		}
	}
}
