@charset "UTF-8";
// ### setting.scss ###
//======================================================================================================================

// variable
//------------------------------------------------------------------------------
$width: 960px;
$minWidth: 320px;

$color: #333;
$colorLink: #15b;

$img-path:"../img/";

// common
//------------------------------------------------------------------------------
%contWidth{
  margin:0 auto;
  width:$width;
  @include media(sp) {
    width: auto;
  }
}
