@charset "UTF-8";
// ### setting.scss ###
//======================================================================================================================

// variable
//------------------------------------------------------------------------------
$width: 960px;
$minWidth: 320px;

$color: #333;
$colorLink: #15b;
